attrs==23.1.0
allure-behave==2.13.2
aws-sam-translator==1.73.0
awscli==1.29.30
awscliv2==2.2.0
behave==1.2.6
blinker==1.6.2
boto3==1.28.30
botocore==1.31.30
Brotli==1.0.9
certifi==2023.7.22
cfn-lint==0.79.7
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.4
coloredlogs==15.0.1
ConfigArgParse==1.7
docutils==0.16
executor==23.2
fasteners==0.18
Flask==2.3.2
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
gevent==23.9.1
geventhttpclient==2.0.9
git-remote-codecommit==1.16
greenlet==2.0.2
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.17.3
junit-xml==1.9
locust==2.16.1
MarkupSafe==2.1.3
mpmath==1.3.0
msgpack==1.0.5
networkx==3.1
numpy==1.25.2
pandas==2.1.0
parse==1.19.1
parse-type==0.6.2
pbr==5.11.1
property-manager==3.0
psutil==5.9.5
pyasn1==0.5.0
pydantic==1.10.12
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests==2.31.0
roundrobin==0.0.4
rsa==4.7.2
s3transfer==0.6.2
sarif-om==1.0.4
six==1.16.0
sympy==1.12
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
verboselogs==1.7
Werkzeug==2.3.7
zipp==3.16.2
zope.event==5.0
zope.interface==6.0
